# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Dataset files
datasets/
data/
*.zip

# YOLO training outputs
runs/
weights/
*.pt

# MacOS files
.DS_Store

# Logs
*.log

# IDE files
.vscode/
.idea/
